version: '3.1'

services:
  flask:
    build: .
    ports:
      - "5000:5000"

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
