<!DOCTYPE html>
<html>

    <head>
        <title>Team1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="\static\css\loading.css">
    </head>

    <body>
        
        <div id="header">
            Team 1 Personal Protection Equipment (PPE)
        </div>

        <div id="info">
            <p>На сайте представлена нейронная сеть,<br>определяющая наличие средств защиты<br>
                на человеке.<br>Для того, чтобы ею воспользоваться,<br>загрузите на сайт видео, и в течении<br>
                нескольких минут вы получите видеозапись<br>с результатом работы.</p>
        </div>

        <div id="created_by">
            <p>
                <h4>Над созданием работали:</h4>
                <ul>
                    <li>Федор Маширин</li>
                    <li>Егор Кирносов</li>
                    <li>Данила Кириллов</li>
                    <li>Сегрей Муллин</li>
                    <li>Александр Смирнов</li>
                </ul>
            </p>
        </div>

        <div class="loader"></div>

    </body>

</html>