<!DOCTYPE html>
<html>
    <head>
        <title>Team1</title>
        <meta charset="utf-8">
        <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
        <link rel="stylesheet" href="\static\css\index_style.css">
        <link rel="stylesheet" href="\static\css\loading.css">
        <link rel="stylesheet" href="\static\css\videoplayer.css">
        {{ turbo() }}
    </head>
    <body>
        <div id="content" class=content>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>