{% extends "page.html" %}

{% block content %}

        <div id="video">
            <video class="player-video" controls="controls">
                <source src="downloads/tempfile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Your browser does not support the video tag.
            </video>
        </div>
        
        <div id="submit">
            <a class="btn btn-success" href="{{url_for('download.download_video')}}">Скачать видео</a>
        </div>
        
        <div id="submit">
            <a class="btn btn-success" href="{{url_for('download.download_db')}}">Скачать статистику</a>
        </div>

{% endblock %}
