{% extends "page.html" %}

{% block content %}
        <div id="header">
            Team 1 Personal Protection Equipment (PPE)
        </div>

        <div id="info">
            <p>На сайте представлена нейронная сеть,<br>определяющая наличие средств защиты<br>
                на человеке.<br>Для того, чтобы ею воспользоваться,<br>загрузите на сайт видео, и в течении<br>
                нескольких минут вы получите видеозапись<br>с результатом работы.</p>
        </div>

        <div id="created_by">
            <p>
                <h4>Над созданием работали:</h4>
                <ul>
                    <li>Федор Маширин</li>
                    <li>Егор Кирносов</li>
                    <li>Данила Кириллов</li>
                    <li>Сегрей Муллин</li>
                    <li>Александр Смирнов</li>
                </ul>
            </p>
        </div>
        <!-- Это то, как встроенно у нас. Ничего такого сверхестесвенного
        <h1>Stream</h1>
            <video autoplay src="http://localhost:8080">
            Mario
        </video> -->
        <div id="video">
            <video class="player-video" controls="controls">
                <source src="/static/short_vid_Trim.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Your browser does not support the video tag.
            </video>
        </div>
        <div id="submit">
            <a class="btn btn-success" href="{{url_for('download.download_video')}}">Скачать видео</a>
        </div>
        <div id="submit">
            <a class="btn btn-success" href="{{url_for('download.download_db')}}">Скачать статистику</a>
        </div>
{% endblock %}